<h1 class="dlabs-ng2">Login Screen</h1>
<div class="panel panel-default user-authentication" dl-header-show-all='true'>
    <div class="panel-body">

        <form class="form-horizontal"
              (ngSubmit)="onSubmit(thisForm, thisForm.valid)"
              [formGroup]="thisForm"
              novalidate>
            <div class="form-group"
                 *ngIf="!tenantQueryParam">
                <div class="input-group">
                <span class="input-group-addon"
                      [ngClass]="{'failedAuthentication': failedAuthentication}">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                <input  class='form-control'
                        [ngClass]="{'failedAuthentication': failedAuthentication}"
                        placeholder="Tenant"
                        formControlName="tenant"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"
                          [ngClass]="{'failedAuthentication': failedAuthentication}">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input class='form-control'
                           [ngClass]="{'failedAuthentication': failedAuthentication}"
                           placeholder="Username"
                           formControlName="username"/>
                    </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"
                          [ngClass]="{'failedAuthentication': failedAuthentication}">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input  class='form-control'
                            [ngClass]="{'failedAuthentication': failedAuthentication}"
                            [ngClass]="{'failedAuthentication': failedAuthentication}"
                            type="password"
                            placeholder="Password"
                            formControlName="password"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2x">
                    <button type="submit"
                            name="signin"
                            class="btn button-adjustment"
                            [disabled]="authorizing || failedAuthentication || thisForm.pending"
                            [ngClass]="{
                                inactive: thisForm.pristine || !thisForm.pristine && !thisForm.valid || failedAuthentication,
                                active: !thisForm.pristine && thisForm.valid && !failedAuthentication}">
                        <span *ngIf="authorizing"
                              class="glyphicon glyphicon-refresh glyphicon-spin"
                              [ngClass]="{authorizing: authorizing}">
                        </span>Sign in
                    </button>
                </div>
            </div>
            <div class="error-border"
                 [ngClass]="{'clientError': !failedAuthentication, 'failedAuthentication': failedAuthentication}"
                 *ngIf="(thisForm.controls.tenant.touched && !thisForm.controls.tenant.valid) ||
                        (thisForm.controls.username.touched && !thisForm.controls.username.valid) ||
                        (thisForm.controls.password.touched && !thisForm.controls.password.valid) ||
                        failedAuthentication">
                <div *ngIf="(thisForm.controls.tenant.touched && !thisForm.controls.tenant.valid)">
                    <small *ngIf="thisForm.hasError('required', 'tenant')">
                        Tenant is required.<br/>
                    </small>
                </div>
                <div *ngIf="(thisForm.controls.username.touched && !thisForm.controls.username.valid)">
                    <small *ngIf="thisForm.hasError('required', 'username')">
                        Username is required.<br/>
                    </small>
                    <small *ngIf="thisForm.hasError('minlength', 'username')">
                        Username must be at least 5 characters.<br/>
                    </small>
                    <small *ngIf="thisForm.hasError('maxlength', 'username')">
                        Username cannot be longer than 16 characters.<br/>
                    </small>
                </div>
                <div *ngIf="(thisForm.controls.password.touched && !thisForm.controls.password.valid)">
                    <small *ngIf="thisForm.hasError('required', 'password')">
                        Password is required.<br/>
                    </small>
                    <small  *ngIf="thisForm.hasError('minlength', 'password')">
                        Password must be longer than 8 characters. <br/>
                    </small>
                    <small *ngIf="thisForm.hasError('maxlength', 'password')">
                        Password cannot be longer than 18 characters.<br/>
                    </small>
                </div>
                <div *ngIf="failedAuthentication">
                    <small>Unauthorized<br/></small>
                </div>
            </div>

            <div>
                <h3>Debug Section</h3>
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>value</th>
                        <th>touched</th>
                        <th>valid</th>
                    </tr>
                    <tr>
                        <td>tenant</td>
                        <td>{{thisForm.value.tenant}}</td>
                        <td>{{thisForm.controls.tenant.touched}}</td>
                        <td>{{thisForm.controls.tenant.valid}}</td>
                    </tr>
                    <tr>
                        <td>username</td>
                        <td>{{thisForm.value.username}}</td>
                        <td>{{thisForm.controls.username.touched}}</td>
                        <td>{{thisForm.controls.username.valid}}</td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td>{{thisForm.value.password}}</td>
                        <td>{{thisForm.controls.password.touched}}</td>
                        <td>{{thisForm.controls.password.valid}}</td>
                    </tr>
                </table>

                <div>Form value: {{thisForm.value | json}}</div>
                <div>Form pristine: {{thisForm.pristine}}</div>
                <div>Form dirty: {{thisForm.dirty}}</div>
                <div>Form valid: {{thisForm.valid}}</div>
                <div>Form authentication: {{failedAuthentication}}</div>
            </div>
        </form>
    </div>
</div>